
// OUR COLORS/
$blue-pastel-light: #DAE1FB;
$blue-pastel-fade: #A3B5F5;
$blue-dark: #172045;
$green-light: #B1FBE1;
$red-75: #FF2A00;
$Red-opacity: #94000B;
$linear-orange-to-lila: linear-gradient(90deg, rgba(255,167,35,1) 0%, rgba(227,132,255,1) 100%);
$blue-pastel: #5070EC;
$green-blue-aqua: #69F7C6;
$green-yellow-light: #FCFFE7;
$pink-violet: #FFA3FD;
$lila: #E384FF;
$orange: #FFA723;
$red-light: #FF775C;
$red-dark: #94000B;
$white: #FFFFFF;
$black: #0000;



// For before:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
