<div class="head-favorites">
  <p><strong>Favoris</strong></p>
  <p>trier par : Date d'ajout</p>
</div>

<div class="cards-favorites">
  <% @favorites.sort.reverse.each do |favorite| %>
    <div class="card-product-favorites">
        <%= render "shared/card-activity-fav", favorite: favorite %>
      </div>
  <% end %>
</div>
