<div class="head-favorites">
  <p class="title-favorites"><strong>Favorites</strong></p>
</div>

<div class="cards-favorites">
  <% @favorites.sort.reverse.each do |favorite| %>
    <%= render "shared/card-activity-fav", favorite: favorite %>
  <% end %>
</div>
