<div class="head-favorites">
  <p class="title-favorites"><strong>Favoris</strong></p>
  <p class="subtile-favorites">sort by : Date added</p>
</div>

<div class="cards-favorites">
  <% @favorites.sort.reverse.each do |favorite| %>
    <div class="card-fav">
      <div class="card-product-favorites">
        <%= render "shared/card-activity-fav", favorite: favorite %>
      </div>
    </div>
  <% end %>
</div>
