.img-edit-group {
  width: 100% !important;
  height: 150px !important;
  background-size: cover;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}

.group-name{
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 58px;
}
.group-name-name{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-top: 10px;
  padding-bottom:0px;
  width:100%;
}

.edit-group-infos {
  color: white;
  align-items: end;
  justify-content: space-between;
}

.card-group-activity-icon {
  display: flex;
  align-items: center;
  text-align: center;
}

.card-infos-subgroup {
  margin-right: 30px;
  .fa-location-dot, .fa-clock {
    margin: 3px;
  }
}

.btn-invite{
  width:44vh;
  background-color: $blue-dark;
  color: white;
  border: none;
  border-radius: 4px;
  padding:10px;
  margin-inline:10px;
  position: sticky;
  top: 450px;
}

.sticky-bottom{
  position: sticky;
  bottom: 64px;
}
