.card-product-favorites {
  overflow: hidden;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 42px;
}

.favorites-img img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.favorites-title {
  font-size: 16px;
  margin: 0;
}

.favorites-description {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.infos-favorites .infos-favorites-2 {
  display: flex;
  font-size: xx-small;
}

.card-text-infos-favorites {
  margin-left: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.head-favorites {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.cards-favorites{
  padding: 0 20px 40px;
}

.fa-location-dot {
  margin-right: 10px;
  font-size: 12px;
}

.fa-clock {
  margin-right: 10px;
  font-size: 10px;
}
.fa-ellipsis {
  border-radius: 50px;
  padding: 5px;
}

.card-fav {

  a{
  text-decoration: none;
  color: $blue-dark;
  }

}
