.card-product-groups {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 42px;
}

.subtile-groups{
  font-size: 12px;
}

.title-groups {
  font-size: 20px;
}

.groups-img img {
  height: 150px;
  width: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.groups-title {
  font-size: 16px;
  margin: 0;
}

.groups-name {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  font-size: 16px;
}

.groups-description {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.infos-groups .infos-groups-2 {
  display: flex;
}
.card-text-infos-groups {
  padding-left: 10px;
}

.head-groups {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.groups-duration {
  font-size: 10px;
  margin-top:20px;
  color: $blue-pastel-fade;
}
.groups-address {
  font-size: 10px;
  color: $blue-pastel-fade;
}
.groups-price {
  font-size: 15px;
}

.icon {
  background: $blue-pastel-fade;
  cursor: pointer;
  display: block;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  border-radius: 40px;
}
label.icon {
  position: absolute;
  right: 20px;
  z-index: 200;
}
.menu-link {
  background: lightgrey;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  height: 40px;
  padding-top: 0;
  position: absolute;
  transition: max-width ease .6s;
  max-width: 40px;
  z-index: 100;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 40px;
  right: 20px;
}
.icon-link {
  margin: 1rem;
  text-align: center;
}
.menu:checked ~ .menu-link {
  max-width: 200px;
  transition: max-width ease .6s;
}

.user-menu-deroulant {
  color: $blue-pastel;
  padding: 0px;
  background-color: transparent;
}
