.home-page-text {
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-homepage {
  font-family: $font-app-original;
  color: $blue-pastel;
  font-weight: 400;
  font-size: 80px;
}

.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.text-homepage {
  font-size: 20px;
  padding: 22px;
  color: $blue-dark;
  font-family: $font-body;
}

.homepage-button {
  text-decoration: none;
  font-size: 21px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: $blue-dark;
  padding: 9px;
  border-radius: 6px;
  color: white;
  padding-inline: 58px;

  &:hover {
    color: white;
  }
}

.image-home {
  background-image: asset-url('home-image/IMG_821733cut-removebg-preview.png');
  width: 100vw;
  height: 600px;
  background-size: cover;
  background-position: center;
}
