.session-wrapper {
  margin: 20px;
  margin-top: 83px;
}

.sign-btn {
  border-radius: 4px;
  background-color: $blue;
  width: 100%;
}

.devise-shared-links {
  margin-top: 20px;
}

#submit-color {
  color: white;
}
