.card-activity-title {
  font-family: $headers-font;
  width: 100%;
  margin-block:30px;
}

.button-show {
  margin: 0px 60px 20px 60px;
  width:100%;
}

.card-activity-info {
  margin: 15px 20px 15px 20px;
}

.card-activity-icon {
  margin-block:30px;
  margin: 10px 10px 15px 0px;
  opacity: 0.8;
  i{
    margin-right: 1px;
  }
}

.card-activity-title-category {
  font-size: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  i{
    opacity: 0.5;
  }
  h1{
    margin-bottom: 0;
  }
}

.card-activity-description{
  p{
    color: black;
    font-size: 12px ;
    text-align: justify;
  }
  margin-block: 30px;
}

.background-img-show {
  height:310px;
  width: 100%;
  background-size: cover;
}
