.card-activity-title {
  font-family: $headers-font;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.button-show {
  margin: 0px 60px 20px 60px;
  width:100%;
}

.card-activity-info {
  margin: 15px 20px 15px 20px;
}

.card-activity-icon {
  margin: 10px 0px 15px 0px;
  opacity: 0.8;
}

.card-activity-title-category {
  font-size: 12px;
  opacity: 0.5;
}

.card-activity-description p{
  font-size: 12px ;
  text-align: justify;
}

.background-img-show {
  height:310px;
  width: 100%;
  background-size: cover;
}
