
<div class="head-groups">
  <p class="title-groups"><strong>Groups</strong></p>
  <p class="subtile-groups">trier par : Date d'ajout</p>
</div>

<% @groups.each do |group| %>
    <%= render "shared/card-activity-groupv2", group: group %>
<% end %>
