
<div class="head-groups">
  <p><strong>Groups</strong></p>
  <p>trier par : Date d'ajout</p>
</div>

<% @groups.each do |group| %>
  <%= render "shared/card-activity-groupv2", group: group %>
<% end %>
