
<div class="head-groups">
  <p class="title-groups"><strong>Groups</strong></p>
  <p class="subtile-groups">trier par : Date d'ajout</p>
</div>

<div class="cards-groups">
  <% @current_groups.each do |current_group| %>
    <% if !current_group.group.done %>
      <%= render "shared/card-activity-groupv2", group: current_group.group %>
    <% end %>
  <% end %>
</div>
