
<div class="head-groups">
  <p class="title-groups"><strong>Groups</strong></p>
  <p class="subtile-groups">sort by : Date added</p>
</div>

<% @current_groups.each do |current_group| %>
  <% if !current_group.group.done %>
    <%= render "shared/card-activity-groupv2", current_group: current_group %>
  <% end %>
<% end %>
