
<div class="head-groups">
  <p><strong>Groups</strong></p>
  <p>trier par : Date d'ajout</p>
</div>

<h5>DEBUGG : Current user : <%= current_user.first_name %> </h5>

<% @current_user_groups.each do |current_user_group| %>
  <%= render "shared/card-activity-groupv2", current_user_group: current_user_group %>
<% end %>
