
<h3>
Test de l'index des groups auxquels appartient le current user
(pour le test , c'ets avec laetitia)
</h3>
<h1>
All groups
</h1>
<% @group_users.each do |group_users| %>
  <%= group_users.group.name %>
<% end %>

<h1>
My user :
</h1>
<%= @user_test.first_name %>

<h2>
All the group of my current user
</h2>

<% @current_user_groups.each do |current_user_group| %>
<%= current_user_group.group.name %>
<% end %>
# adapter en fonction d'helen
<div class="head-groups">
  <p><strong>Groups</strong></p>
  <p>trier par : Date d'ajout</p>
</div>

<div class="card-product-groups">
  <% @groups.each do |group| %>
    <%= render "shared/card-activity-group", group: group %>
  <% end %>
</div>

