<div class="home-page-text">
    <div class="welcome-homepage">Swappy</div>
  <div class="image-home">
  </div>
    <strong><%=link_to "Begin", localisation_path, class:"homepage-button" %></strong>
</div>
