  <div class="home-page-text">
    <div class="container">
      <h1>Find activities you likes around you and ask your friends to join you </h1>
      <strong><%=link_to "Our Activities", activities_path, class:"homepage-button" %></strong>
    </div>
  </div>