  <div class="home-page-text">
    <div class="container-home">
      <div class="welcome-homepage">
          Welcome to Swappy
      </div>
      <div class="text-homepage">
        Find activities you likes around you and ask your friends to join you
      </div>
      <strong><%=link_to "Begin", activities_path, class:"homepage-button" %></strong>
    </div>
  </div>
