.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-top: 10vh;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;

    p {
      background-color: $blue-pastel-light;
      color: $blue-dark;
      padding: 10px;
      border-radius: 20px;
      width: fit-content;
    }

    i {
      color: $blue-pastel;
    }

    .current-user {
      float: right;
      display: flex;
      flex-direction: column;
      align-items: end;
      text-align: right;
      p {
        background-color: $blue-dark;
        color: $blue-pastel-light;
        padding: 10px;
        border-radius: 20px;
      }
    }
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  .message-box {
    padding-bottom: 65px;
  }

  .btn-send-message {
    background-color: $blue-dark;
    border: 0px;
    border-radius: 10px;
    height: 38px;
  }
}
