
<div class="profile">
  <div class="top-elements">
    <div class="avatar-profile">
      <%= cl_image_tag(current_user.photo.key) %>
    </div>
    <div class="profile-name">
      <%= current_user.first_name %> <%= current_user.last_name %>
    </div>
  </div>
  <div class="profile-infos">
    <p class="title-profile"><strong>History</strong></p>
  </div>
  <div class="profile-activity">
    <% @current_groups.each do |current_group| %>
      <% if current_group.group.done %>
        <%= render "shared/activity-done-group", group: current_group.group %>
      <% end %>
    <% end %>
  </div>
</div>
